<?xml version="1.0"?>
<!--
/**
 * This product includes proprietary software developed at TechDivision GmbH, Germany
 * For more information see http://www.techdivision.com/
 *
 * To obtain a valid license for using this software please contact us at
 * license@techdivision.com
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Add own Credential Storage Model which calls the Ldap Service -->
    <preference for="Magento\Backend\Model\Auth\Credential\StorageInterface" type="M2Hackathon\Ldap\Model\User" />
    <!-- There are direct usages of this class in Magento core code -->
    <preference for="Magento\User\Model\User" type="M2Hackathon\Ldap\Model\User" />
</config>
