<?xml version="1.0"?>
<!--
/** NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @author    Vadim Justus <v.justus@techdivision.com>
 * @author    Harald Deiser <h.deiser@techdivision.com>
 * @copyright 2016 TechDivision GmbH <info@techdivision.com>
 * @license   http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 * @link      https://github.com/techdivision/M2Hackathon_Ldap
 * @link      http://www.techdivision.com
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Add own Credential Storage Model which calls the Ldap Service -->
    <preference for="Magento\Backend\Model\Auth\Credential\StorageInterface" type="M2Hackathon\Ldap\Model\User" />
    <preference for="M2Hackathon\Ldap\Model\AuthServiceInterface" type="M2Hackathon\Ldap\Model\AuthService" />
    <preference for="M2Hackathon\Ldap\Model\Connection\ConnectionInterface" type="M2Hackathon\Ldap\Model\Connection\LdapConnection" />
    <!-- There are direct usages of this class in Magento core code -->
    <preference for="Magento\User\Model\User" type="M2Hackathon\Ldap\Model\User" />
</config>
